@using System.Security.Claims
@{
    var controller = ViewContext.RouteData.Values["controller"]!;
    var action = ViewContext.RouteData.Values["action"]!;
    
    var loggedIn = User.Identity != null && User.Identity.IsAuthenticated;
}
@if (!loggedIn) {
    
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 nav-underline">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BankWebApp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark @(controller.Equals("Home") && action.Equals("Index") ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark @(controller.Equals("Home") && action.Equals("Privacy") ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark @(controller.Equals("Home") && action.Equals("Register") ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark @(controller.Equals("Home") && action.Equals("Login") ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
}
else
{
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 nav-underline">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BankWebApp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark @(controller.Equals("Account") && action.Equals("Index") ? "active" : "")" asp-area="" asp-controller="Account" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark @(controller.Equals("Account") && action.Equals("Transfer") ? "active" : "")" asp-area="" asp-controller="Account" asp-action="Transfer">Transfer</a>
                    </li>
                    @if (User.HasClaim("http://schemas.microsoft.com/ws/2008/06/identity/claims/role", "Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark @(controller.Equals("Account") && action.Equals("AddFunds") ? "active" : "")" asp-area="" asp-controller="Account" asp-action="AddFunds">Add Funds</a>
                        </li>
                    }
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
}